#main{
    margin:100px;
    padding: 100px;
    border: 1px solid black;
}

label{
    font-size: 30px;
    font-weight: bolder;
}

input{
    padding:20px;
    padding-left :50px;
    padding-right :50px;
    font-size: 25px;
    margin-top:20px;
}

button{
    margin:20px;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
}

li{
    font-size: 25px;
}